dataproducts/MPB-MNC/pipelines/bronze/ad_test.json
{
    "name": "ad_test.json",
    "properties": {
        "activities": [
            {
                "name": "Lookup_config_table",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AmazonRdsForSqlServerSource",
                        "sqlReaderQuery": {
                            "value": "select  \nprocess_name,\nsource_table_name,\nbronze_table_name,\nbronze_table_full_path,\nlanding_target_dir,\nlanding_target_path,\nlanding_target_file_nm,\nbronze_table_delta_path,\nlanding_storage_container,\nlanding_storage_account,\nbronze_write_mode,\nenv,\nbronze_ddl_file_path\nfrom [dbo].[DI_PIPELINE_CONFIG_TBL]\nwhere process_name= 'MPB_MNC_BRNZ_SLVR_DLY'\nand interface_active='Y'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SqlServerTableParametrized",
                        "type": "DatasetReference",
                        "parameters": {
                            "ServerName": {
                                "value": "@pipeline().globalParameters.SQLSERVER_SERVERNAME",
                                "type": "Expression"
                            },
                            "UserName": {
                                "value": "@pipeline().globalParameters.SQLSERVER_USERNAME",
                                "type": "Expression"
                            },
                            "KV_SecretName": {
                                "value": "@pipeline().globalParameters.AZURE_SQLSERVER_PASSWORD",
                                "type": "Expression"
                            },
                            "SQLDatabaseName": {
                                "value": "@pipeline().globalParameters.SQLSERVER_DATABASENAME",
                                "type": "Expression"
                            },
                            "key_vault_url": {
                                "value": "@pipeline().globalParameters.AZURE_KEY_VAULT_URL",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach_loop_all_interfaces",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_config_table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_config_table').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "bronze_layer_ingestion",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Workspace/Shared/EDP_PSAS_DI/common/utils/landing_to_bronze_ingestion",
                                "baseParameters": {
                                    "target_table_identifier": {
                                        "value": "@item().bronze_table_name",
                                        "type": "Expression"
                                    },
                                    "run_id": {
                                        "value": "@pipeline().RunId",
                                        "type": "Expression"
                                    },
                                    "job_id": {
                                        "value": "@pipeline().TriggerTime",
                                        "type": "Expression"
                                    },
                                    "pipeline_start_time": {
                                        "value": "@pipeline().TriggerTime",
                                        "type": "Expression"
                                    },
                                    "source_table_identifier": {
                                        "value": "@item().source_table_name",
                                        "type": "Expression"
                                    },
                                    "env": {
                                        "value": "@item().env",
                                        "type": "Expression"
                                    },
                                    "target_data_path": {
                                        "value": "@item().bronze_table_full_path",
                                        "type": "Expression"
                                    },
                                    "source_file_path": {
                                        "value": "@concat('abfss://',item().landing_storage_container,'@',item().landing_storage_account,'.dfs.core.windows.net/',item().landing_target_dir,'/',item().landing_target_path,item().landing_target_file_nm,'/')\n",
                                        "type": "Expression"
                                    },
                                    "write_mode": {
                                        "value": "@item().bronze_write_mode",
                                        "type": "Expression"
                                    },
                                    "pipeline_name": {
                                        "value": "@pipeline().Pipeline",
                                        "type": "Expression"
                                    },
                                    "database_host": {
                                        "value": "@pipeline().globalParameters.SQLSERVER_SERVERNAME",
                                        "type": "Expression"
                                    },
                                    "database_port": {
                                        "value": "@pipeline().globalParameters.SQLSERVER_DATABASEPORT",
                                        "type": "Expression"
                                    },
                                    "database_name": {
                                        "value": "@pipeline().globalParameters.SQLSERVER_DATABASENAME",
                                        "type": "Expression"
                                    },
                                    "db_secret_scope": {
                                        "value": "@pipeline().globalParameters.scope",
                                        "type": "Expression"
                                    },
                                    "user_secret_key": {
                                        "value": "@pipeline().globalParameters.AZURE_SQLSERVER_USERNAME",
                                        "type": "Expression"
                                    },
                                    "pw_secret_key": {
                                        "value": "@pipeline().globalParameters.AZURE_SQLSERVER_PASSWORD",
                                        "type": "Expression"
                                    },
                                    "logging_table_name": {
                                        "value": "@pipeline().globalParameters.SQLSERVER_LOGGING_TABLENAME",
                                        "type": "Expression"
                                    },
                                    "table_ddl_file_path": {
                                        "value": "@item().bronze_ddl_file_path",
                                        "type": "Expression"
                                    },
                                    "bad_record_path": {
                                        "value": "@concat(item().bronze_table_full_path,'/badrecord/'\n)",
                                        "type": "Expression"
                                    },
                                    "schema_path": {
                                        "value": "@concat(item().bronze_table_full_path,'/schema')",
                                        "type": "Expression"
                                    },
                                    "checkpoint_path": {
                                        "value": "@concat(item().bronze_table_full_path,'/checkpoint'\n)",
                                        "type": "Expression"
                                    },
                                    "process_name": {
                                        "value": "@item().process_name",
                                        "type": "Expression"
                                    },
                                    "interface_name": {
                                        "value": "@item().source_table_name",
                                        "type": "Expression"
                                    },
                                    "bronze_write_mode": {
                                        "value": "@item().bronze_write_mode\n",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_edp_psas_di_dev",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "folder": {
            "name": "EDP_PSAS_DI/MPB_MNC/bronze"
        },
        "annotations": [],
        "lastPublishTime": "2024-10-25T05:42:40Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
